body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    margin: 0;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(202, 15, 15, 0.1);
    width: 100%;
    max-width: 400px;
}
.input-container {
    display: flex;
    gap: 10px;
}
input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 2px solid #B2BEB5;
    border-radius: 5px;
}
button {
    background-color: #B2BEB5;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #B2BEB5;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
li {
    background-color: #e3f2fd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
}
